/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@font-face {
	font-family: 'Bebas Kai';
	src: url('../images/BebasKai-Regular.otf') format('opentype');
}

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* The whole bar's settings and size. */
#barWrapper {
	width: 1920px;
	display: flex;
	height: 70px;
}

.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically. */
	justify-content: center; /* Aligns horizontally. */
}

.storageBox {
	background-color: rgba(0,0,0,0.68);
	border-top: 5px solid #662d91;
	box-sizing: border-box;
}

/* Area that stores the donation total and STC logo stuff. */
#donationArea {
	flex: initial;
	font-size: 30px;
	padding: 10px;
}

#donationTotalWrapper {width: 185px;}
#stcLogo {padding-right: 10px;}

/* Puts the image behind the donation total */
#stcText {
	position: absolute;
	opacity: 0;
	width: inherit;
}

#donationTotal {opacity: 1;}

/* Area that stores all the messages the bar needs to show. */
#messageArea {
	flex: auto;
	border-left: 5px solid #662d91;
	border-right: 5px solid #662d91;
	justify-content: flex-start; /* Aligns horizontally. */
	padding: 15px;
	font-size: 25px;
}

/* Area for the clock. */
#clockArea {
	font-size: 35px;
	width: 130px;
}