/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@font-face {
	font-family: 'Bebas Kai';
	src: url('../images/BebasKai-Regular.otf') format('opentype');
}

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* The whole bar's settings and size. */
#barWrapper {
	width: 1920px;
	display: flex;
	height: 70px;
}

.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically. */
	justify-content: center; /* Aligns horizontally. */
}

.storageBox {
	background-color: rgba(0,0,0,0.68);
	border-top: 5px solid #662d91;
	box-sizing: border-box;
}

/* Area that stores the donation total and STC logo stuff. */
#donationArea {
	min-width: 257px;
	font-size: 30px;
	padding: 10px;
}

#donationTotalWrapper {width: 185px;}
#stcLogo {padding-right: 10px;}

/* Puts the image behind the donation total */
#stcText {
	position: absolute;
	opacity: 0;
	width: inherit;
}

#donationTotal {opacity: 1;}

/* Area that stores all the messages the bar needs to show. */
#messageArea {
	flex: auto;
	border-left: 5px solid #662d91;
	border-right: 5px solid #662d91;
	font-size: 24px;
	overflow: hidden;
}

#messageWrapper {
	padding: 0 8px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center; /* Aligns vertically. */
	justify-content: flex-start; /* Aligns horizontally. */
	opacity: 0;
}

.donationWrapper .donationTitle {
	text-transform: uppercase;
	color: #bfbfbf;
}

/* Flag next to donator name is the same height as the text. */
.donationWrapper .flag {
	vertical-align: text-bottom;
	height: 1.2em;
}

.donationWrapper .donationMessage {
	white-space: nowrap;
	overflow-x: hidden;
}

.nextGameWrapper {
	padding: 0 !important;
	padding-left: 10px !important;
}

.nextGameWrapper .nextGameText {
	white-space: nowrap;
	overflow-x: hidden;
}

/* Area for the clock. */
#clockArea {
	font-size: 35px;
	min-width: 130px;
}