/* Logos/sponsors */
#sponsorImageAreaNormal {
	left: 76px;
	top: 608px;
	width: 590px;
	height: 222px;
}

/* Webcam(s) */
#webcam1 {
	left: 0px;
	top: 107px;
	width: 742px;
	height: 409px;
}

/* Game area(s) */
.gameCapture {
	width: 1173px;
	height: 733px;
}

#gameCapture1 {
	left: 747px;
	top: 107px;
	
	/* This positions the finish time in this game feed. */
	align-items: flex-end; /* Bottom of viewport. */
	justify-content: flex-start; /* Left of viewport. */
}

/* Finish timer stuff */
.finishTimeContainer img {padding-right: 5px;}
#finishTimeContainer1 {
	font-size: 25px;
	height: 30px;
	padding: 5px 5px 0 0; /* No padding needed where this box touches the border. */
}

/* Player information stuff */
.playerContainer {
	width: 742px;
	height: 72px;
	padding: 7px;
}

#playerContainer1 {
	left: 0px;
	top: 521px;
}

.playerLogo {padding-right: 17px;} /* Space between player logo on left and player name text. */
.playerText {font-size: 28px;}
.playerFlag, .playerCoOp {padding-left: 7px;}

/* Run information stuff */
#runInfoContainer {
	left: 747px;
	top: 845px;
	width: 1173px;
	height: 150px;
}

#runInfoContainer #gameTitle {font-size: 33px;}
#runInfoContainer #gameCategory, #runInfoContainer #gameConsole {font-size: 28px;}

/* Timer stuff*/
#timerContainer {
	left: 0px;
	top: 845px;
	width: 742px;
	height: 150px;
}

/* Margins might need playing around with and some eyeballing to get timer text closer and still centered. */
#timerContainer #timer {font-size: 91px; margin: -15px;}
#timerContainer #gameEstimate {font-size: 45px; margin: -5px;}